@import "tailwindcss";

@theme {
    --color-primary: #5D81E2;
    --color-secondary: #1FE277;
    --color-tertiary: #1d4e89;
    --color-quaternary: #4A494F;
    /*--color-quinary: #293241;*/

    --color-success: #2a9d8f ;
    --color-warning: #ffb400;
    --color-danger: #fe4a49;
}

@layer base {
    .global-padding {
        @apply px-4 md:px-6 lg:px-14 xl:px-28 2xl:px-34
    }
}